@import 'tailwindcss';

@config '../../tailwind.config.mjs';

@import './base/_custom-media.css';
@import './base/_grid.css';
@import './typography/_links.css';
@import './base/_header.css';
@import './custom/_card-deck.css';
@import './custom/_hero.css';
@import './custom/_stack.css';
@import './custom/_modal.css';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer theme{
  :root {
    --pragma-blue: #0A5473;
    --pragma-turquoise: #034959;
    --pragma-black: #000000;
    --pramga-darkgrey: #0f0f0f;
    --pragma-white: #ffffff;
    --pragma-lightgrey: #E7EDF0;
    --pragma-red: #eb3248;
    --pragma-yellow: #fad20b;
    --pragma-purple: #4c4262;
    --pragma-grey: #797979;

    --background: light-dark(var(--pragma-white), var(--pragma-black));
    --foreground: light-dark(var(--pramga-darkgrey), var(--pragma-lightgrey));

    --success: oklch(81.87% 0.0587 221.64);
    --warning: oklch(91.3% 0.0598 73.5);
    --error: oklch(86.82% 0.071 30.41);
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: unset;
    font-weight: unset;
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 240 5% 96%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 240 6% 80%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.2rem;

    
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground min-h-screen flex flex-col;
  }
}

html {
  opacity: 0;
}

html[data-theme='dark'],
html[data-theme='light'] {
  opacity: initial;
}