a{
  &[data-variant='default']{
    background-color: light-dark(var(--pragma-black), var(--pragma-white));
    color: light-dark(var(--pragma-white), var(--pragma-black));
  }
  &[data-variant='link']{
    justify-content: start;
    align-items: start;
    color: light-dark(var(--pragma-black), var(--pragma-white));
    text-underline-offset: 4px;
    &:hover{
      text-decoration: underline;
    }
  }
}